@import "normalize.styl"
@import "font-awesome.min.styl"
col_header = #333333
color_font = #3A3A3A
azul_complat = #0D47A1
azul_complat_light = #42A5F5
col_fail = #F10000
col_success = #00AE00
col_info = #FF6600
col_footer = #333333

#btn-menu 
	display none 
.titulo-complat 
	display none 
.icon-menu 
	display none 
body 
	font-family: 'Roboto', sans-serif;
	//font-family: 'Source Sans Pro', sans-serif;
	font-size 16px 
	color color_font
	
//Inicia Header

header 
	background col_header
	height 80px 
	position absolute
	top 0 
	left 0 
	width 100% 
	-webkit-box-shadow: 0px 5px 0px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 0px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 0px 0px rgba(50, 50, 50, 0.5);
	z-index 2


html, body{
    height: 100%;
}

.wrapper{
    height: 100%;
    height: auto !important;
    margin: 0 auto -140; /* the bottom margin is the negative value of the footer's height */
    min-height: 100%;
}
.footer, .push{
    height: 140px; /* .push must be the same height as .footer */
}

.push{
	height 140px 
}
    

/*footer 
	background col_footer
	width 100% */

.footer {
	background col_footer 
}


.container-header
	height 80px 
	margin auto 
	position relative 
	width 1024px 
	z-index 2


.complat-logo
	left 0
	position absolute
	top 5px 
	width 180px 
	
.nav-desktop 
	font-size 14px 
	font-weight bold 
	height 80px 
	list-style none 
	position absolute 
	right 0 
	width 800px
	

.nav-movil 
	display none 
	
.nav-desktop ul 
	bottom 0 
	box-sizing border-box
	height 60px
	list-style none 
	margin-bottom auto 
	margin-top auto 
	padding 20px 10px 10px 10px
	position absolute
	top 0 
	width 100%  
.nav-desktop ul li 
	display inline-block 
	float right 
.nav-desktop ul li a
	box-sizing border-box
	color white	 
	font-style lighter 
	padding 20px 20px 20px 20px 
	text-align center 
	text-decoration none 
	&:hover
		background azul_complat
		border-radius 2px 
		transition-duration 0.5s	

//Termina Header


//Inicia clases generales Desktop 
.container 
	height auto  
	margin auto
	margin-bottom 120px 
	margin-top 120px  
	position relative 
	width 1024px
	z-index 2
	


//Mensajes de ajax

.icon-exclamation:before 
	color white 
	content "\f071"
	font-family "FontAwesome"
	font-size 40px 

.icon-info:before 
	color white 
	content "\f05a"
	font-family "FontAwesome"
	font-size 45px 
	
.div-icon-warning 
	bottom 0 
	height 40px 
	margin-bottom auto 
	margin-top auto 
	position absolute
	top 0 
	width 40px 

.div-texto-warning
	bottom 0
	color white 
	font-weight normal
	height auto 
	left 50px
	margin-bottom auto 
	margin-top auto 
	padding-bottom 10px  
	position absolute
	top 0
	width 90%
	
.p-texto-warning 
	margin-left 8px 

.warning-fail
	background col_fail
	box-sizing border-box 
	height 70px   
	margin-bottom 10px
	padding 5px 5px 5px 5px 
	position relative
	width 100%
	

.warning-success
	background col_success
	box-sizing border-box 
	height 70px  
	margin-bottom 10px
	padding 5px 5px 5px 5px 
	position relative
	width 100%
	
.warning-info 
	background col_info
	box-sizing border-box 
	height 70px  
	margin-bottom 10px
	padding 5px 5px 5px 5px 
	position relative 
	width 100%
	

.link-warning 
	text-decoration none 
	color #8A0808
	font-weight bold 
	&:hover 
		color #DF0101
		transition-duration 0.3s
		

//Termina clases generales Desktop 


//Inicia login

.fondo-obscuro
	background-color #000
	display none
	height 100%
	left 0
	opacity 0.6
	position fixed 
	top 0
	width 100%
	z-index 3

.login-box 
	//box-shadow 0px 0px 3px gray 
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	background white 
	border-radius 2px 
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box
	display none 
	height auto 
	left 0
	margin auto 
	margin-left auto 
	margin-right auto
	padding 10px 10px 10px 10px 
	position fixed //absolute
	right 0
	top 10px 
	width 550px 
	z-index 4



.login-box ul 
	list-style none 
	
.login-box ul li 
	margin-left -40px 
	margin-bottom 5px 

.btn-cerrar-login
	color black 
	float right 
	font-size 18px 
	text-decoration none 
	&:hover 
		color azul_complat
		transition-duration 0.2s
		
.form-login 
	border-bottom solid 1px #E6E6E6
	border-top solid 1px #E6E6E6
	list-style none 
	padding-bottom 15px 
	padding-top 20px 
	
.form-login  li 
	margin-left -40px 
.form-login li label 
	margin-left -5px 
	

.form-login input, label, button 
	border none 
	box-sizing border-box
	color #3A3A3A 
	margin-bottom 20px 
	padding 5px 
	text-align center 
	width 100%  
	
.form-login input
	border 1px solid #AAA
	border-radius 2px
	box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
	color #666
	height 40px 
	margin-top 5px 
	outline none 
	&:focus 
		background #fff
		border 1px solid azul_complat //#555
 		outline none 


.form-login li button
	margin-top 20px 
	

@keyframes pulse
	0% {transform: scale(0);}
	75% {transform: scale(1.4);}
	100% {transform: scale(1);}


.form-login li label 
	input[type="checkbox"] 
		display none 		
		+ .label-text:before
			-webkit-font-smoothing antialiased 
			content "\f096"
			display inline-block 
			font-family "FontAwesome"
			font-size 18px 
			font-style normal 
			font-variant normal
			font-weight normal
			line-height 1
			margin-right 5px 
			speak none 
			text-transform none 
			width 1em 
		&:checked + .label-text:before
			animation pulse 180ms ease-in
			color azul_complat //#00D079
			content "\f14a"
					
		&:disabled + .label-text
			color #aaa
			&:before 
				color #ccc
				content "\f0c8"
.form-login li button 
	background azul_complat
	border-radius 2px
	box-sizing border-box  
	color white 
	padding 15px 15px 15px 15px 
	&:hover 
		background #0489B1
		transition-duration 0.3s
	&:active 
		background #0B2F3A

.icon-login:before
	color red
	content "\f023"
	font-family "FontAwesome"
	margin-right 5px 
.titulo-login
	color red  
	



//Termina login 


//Inicia registro 

.registro-box 
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	background white 
	border-radius 2px 
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75); 
	box-sizing border-box
	display none 
	height auto 
	left 0
	margin auto 
	margin-left auto 
	margin-right auto
	padding 10px 10px 10px 10px 
	position fixed 
	right 0
	top 10px 
	width 550px 
	z-index 4
.registro-box ul 
	list-style none 
.registro-box ul li 
	margin-bottom 5px 
	margin-left -40px 

.btn-cerrar-registro
	color black 
	float right 
	font-size 18px 
	text-decoration none 
	&:hover 
		color azul_complat
		transition-duration 0.2s

.form-registro
	border-bottom solid 1px #E6E6E6
	border-top solid 1px #E6E6E6
	list-style none 
	padding-bottom 15px  
	padding-top 20px
	
.form-registro  li 
	margin-left -40px 
.form-registro li label 
	margin-left -5px 
	

.form-registro input, label, button 
	border none 
	box-sizing border-box
	color #3A3A3A 
	margin-bottom 20px 
	padding 5px 
	text-align center 
	width 100%  

.form-registro button
	margin-bottom 0
	
.form-registro input
	border 1px solid #AAA
	border-radius 2px
	box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
	color #666
	height 40px 
	margin-top 5px 
	outline none 
	&:focus 
		background #fff
		border 1px solid azul_complat //#555
 		outline none 


.form-registro li button
	margin-top 20px 
	

.form-registro li label 
	input[type="checkbox"] 
		display none 		
		+ .label-text:before
			-webkit-font-smoothing antialiased 
			content "\f096"
			display inline-block 
			font-family "FontAwesome"
			font-size 18px 
			font-style normal 
			font-variant normal
			font-weight normal
			line-height 1
			margin-right 5px 
			speak none 
			text-transform none 
			width 1em 
		&:checked + .label-text:before
			animation pulse 180ms ease-in
			color azul_complat //#00D079
			content "\f14a"
					
		&:disabled + .label-text
			color #aaa
			&:before 
				color #ccc
				content "\f0c8"
				
.form-registro li button 
	background azul_complat
	border-radius 2px
	box-sizing border-box  
	color white 
	padding 15px 15px 15px 15px 
	&:hover 
		background #0489B1
		transition-duration 0.3s
	&:active 
		background #0B2F3A

.icon-login:before
	color red
	content "\f023"
	font-family "FontAwesome"
	margin-right 5px 
.titulo-registro
	color red  
	
.icon-user:before 
	content "\f007"
	font-family "FontAwesome"
	margin-right 5px 
.icon-pass:before 
	content "\f09c"
	font-family "FontAwesome"
	margin-right 5px 
	
.icon-email:before 
	content "\f0e0"
	font-family "FontAwesome"
	margin-right 5px 
	
.icon-registro:before 
	content "\f090"
	font-family "FontAwesome"
	margin-right 5px 


//Termina registro 


//Inicia lostpass

.lostpass-box 
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	background white 
	border-radius 2px 
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box
	display none 
	height auto 
	left 0
	margin auto 
	margin-left auto 
	margin-right auto
	padding 10px 10px 10px 10px 
	position fixed 
	right 0
	top 10px 
	width 550px 
	z-index 4
.lostpass-box ul 
	list-style none 
.lostpass-box ul li 
	margin-bottom 5px 
	margin-left -40px 

.btn-cerrar-lostpass
	color black 
	float right 
	font-size 18px 
	text-decoration none 
	&:hover 
		color azul_complat
		transition-duration 0.2s

.form-lostpass
	border-bottom solid 1px #E6E6E6
	border-top solid 1px #E6E6E6
	list-style none 
	padding-bottom 15px 
	padding-top 20px 
	
.form-lostpass  li 
	margin-left -40px 
.form-lostpass li label 
	margin-left -5px 
	

.form-lostpass input, label, button 
	border none 
	box-sizing border-box
	color #3A3A3A 
	margin-bottom 20px 
	padding 5px 
	text-align center 
	width 100%  

.form-lostpass button
	margin-bottom 0
	
.form-lostpass input
	border 1px solid #AAA
	border-radius 2px
	box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
	color #666
	height 40px 
	margin-top 5px 
	outline none 
	&:focus 
		background #fff
		border 1px solid azul_complat //#555
 		outline none 


.form-lospass li button
	margin-top 20px 
	

.form-lostpass li label 
	input[type="checkbox"] 
		display none 		
		+ .label-text:before
			-webkit-font-smoothing antialiased 
			content "\f096"
			display inline-block 
			font-family "FontAwesome"
			font-size 18px 
			font-style normal 
			font-variant normal
			font-weight normal
			line-height 1
			margin-right 5px 
			speak none 
			text-transform none 
			width 1em 
		&:checked + .label-text:before
			animation pulse 180ms ease-in
			color azul_complat //#00D079
			content "\f14a"
					
		&:disabled + .label-text
			color #aaa
			&:before 
				color #ccc
				content "\f0c8"
				
.form-lostpass li button 
	background azul_complat
	border-radius 2px
	box-sizing border-box  
	color white 
	padding 15px 15px 15px 15px 
	&:hover 
		background #0489B1
		transition-duration 0.3s
	&:active 
		background #0B2F3A

//Termina lostpass


// Inicia home temporal 


//Courses page 
.cointainer-courses 
	height auto  
	margin 0 auto 
	position relative 
	width 100%
	

.search-courses
	box-sizing border-box
	height 85px 
	margin 0 auto 
	padding 5px 5px 5px 5px 
	position relative 
	width 450px 
	
.cointainer-courses .search-courses ul 
	display inline-block
	list-style none 
	margin-left -40px 

.cointainer-courses .search-courses ul li
	display inline-block
	margin-left 5px  
.cointainer-courses .search-courses ul li input
	border 1px solid #aaa
	border-radius 2px
	box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
	box-sizing border-box
	color #666
	margin-top 5px 
	outline none 
	padding 10px 
	width 380px 
	&:focus
		background #fff
		border 1px solid #555

		
.icon-search:before
	color col_header
	content "\f002"
	font-family "FontAwesome"
	font-size 20px 
	
.icon-search:hover 
	cursor pointer
	

.courses 
	height auto  
	margin-bottom 30px 
	margin-top 30px 
	position relative
	width 100% 
			
.course 
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	border-radius 2px 
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75); 
	cursor pointer 
	display inline-block
	height 200px
	margin-bottom 15px 
	margin-right 10px  
	padding-left 5px 
	padding-right 5px 
	padding-top 5px 
	position relative
	width 315px 
	&:hover 
		-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		

.course-a 
	text-decoration none 

.course-img
	height 100px
	margin 0 auto 
	position relative
	width 315px
.course-title
	color col_header
	margin-top 3px 
.course-description
	margin-top -15px
	color col_header 
	text-align justify 

.course-enrolled-icon:before 
	color #38610B
	content "\f058"
	font-family "FontAwesome"
	font-size 25px 
	position absolute 
	right 10px 
	top 10px
	z-index 4
	

.course-taken-icon:before 
	color #38610B
	content "\f058"
	font-family "FontAwesome"
	font-size 18px 
	margin-left 10px 
	position relative

.courses-ajax
	display none 
	

.btn-get 
	background:col_header;
	color:#fff;
	display:inline-block;
	font-size:18px;
	margin-top 30px 
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	width:200px;
	&:hover
		background col_success
		transition-duration 0.3s
		
.btn-unsuscribe
	background:col_header;
	color:#fff;
	display:inline-block;
	font-size:18px;
	margin-top 30px 
	padding:10px 0;
	text-align:center;
	width:250px;
	&:hover
		background col_fail
		transition-duration 0.3s

.temary 
	list-style none 
	margin 0
	padding 0
.temary li 
	margin-top 8px 
.temary-subitem
	margin-left 20px 

.temary-a-item
	color col_header
	font-size 18px 
	font-weight bold 
	text-decoration none 
.temary-a-subitem
	color col_header
	font-size 16px
	font-weigh lighter
	text-decoration none 

.temary-a-item:hover, .temary-a-subitem:hover
	color #0489B1
	transition-duration 0.3s
	

.video-course 
	display block
	height 0 
	padding-bottom 56.25% // Proporcion 16:9
	position relative
	
.video-course iframe
	height 100%	
	left: 0;
	position absolute
	top: 0;
	width 100% 
	

.a-course-content
	color col_header
	text-decoration none
	&:hover
		color #0489B1
		transition-duration 0.3s

	
//Termina course


/*Inscribiendo a usuario*/

.enroll-user-info
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	background col_info
	border-radius 2px 
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box 
	color white
	height 40px
	margin-top 30px
	padding 0.6em 
	position relative
	text-align center 
	width 300px 

.enroll-user-success
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	background col_success 
	border-radius 2px 
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box 
	color white
	height 40px
	margin-top 30px
	padding 0.6em 
	position relative
	text-align center 
	width 300px 
	

.enroll-user-fail
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	background col_fail 
	border-radius 2px 
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box 
	color white
	height 40px
	margin-top 30px
	padding 0.6em 
	position relative
	text-align center 
	width 300px
	

.box-warning-unsuscribe
	-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
	background white 
	border-radius 5px 
	box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box
	display none  
	height 190px
	left 0
	margin-bottom auto 
	margin-left auto 
	margin-right auto 
	margin-top auto 
	padding 0.5em 
	position absolute
	right 0
	text-align center 
	top 200px 
	width 500px 
	
.btn-unsuscribe-yes,.btn-unsuscribe-cancel
	margin-left 10px 
	margin-right 10px  
	margin-top 20px 
	padding 0.5em 
	width 120px
	

.unsuscribe-user-info
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	background col_info 
	border-radius 2px 
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box 
	color white  
	height 40px
	margin-top 30px
	padding 0.6em 
	position relative
	text-align center 
	width 100% 

.unsuscribe-user-success
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	background col_success 
	border-radius 2px 
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box 
	color white
	height 40px
	margin-top 30px
	padding 0.6em 
	position relative
	text-align center 
	width 100% 
	

.unsuscribe-user-fail
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	background col_fail 
	border-radius 2px 
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-sizing border-box 
	color white
	height 40px
	margin-top 30px
	padding 0.6em 
	position relative
	text-align center 
	width 100%
	

//Inicia footer 

.footer-blocks
	color white 
	height 110px     
	margin 0 auto 
	padding 10px
	position relative 
	top 10px  
	width 1024px

.footer-blocks ul 
	list-style none 
	margin 0
	padding 0 

.block-info
	height 90% 
	left 0
	position absolute
	width 32%
.block-contact
	height 90% 
	left 33% 
	position absolute
	width 32%
.block-social
	display inline-block 
	height 90% 
	left 66%
	position absolute
	width 32%


	
.block-social ul li
	display inline-block
	margin-left 10px

	
.block-social ul li:first-child
	margin-left 0

.block-social ul li img
	width 35px
	height auto 

.link-footer 
	color #848484
	text-decoration none 
	&:hover
		color white 
		transition-duration 0.2s

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



	
/*termina footer */


/*Inicia blog*/

.cointainer-blog 
	height auto  
	margin 0 auto 
	position relative 
	width 100%
	

.search-blog
	box-sizing border-box
	height 85px 
	margin 0 auto 
	padding 5px 5px 5px 5px 
	position relative 
	width 450px 
	
.cointainer-blog .search-blog ul 
	display inline-block
	list-style none 
	margin-left -40px 

.cointainer-blog .search-blog ul li
	display inline-block
	margin-left 5px  
.cointainer-blog .search-blog ul li input
	border 1px solid #aaa
	border-radius 2px
	box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
	box-sizing border-box
	color #666
	margin-top 5px 
	outline none 
	padding 10px 
	width 380px 
	&:focus
		background #fff
		border 1px solid #555

		
	

.blogs 
	height auto  
	margin-bottom 30px 
	margin-top 30px 
	position relative
	width 100% 
			
.blog 
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	border-radius 2px 
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75); 
	cursor pointer 
	display inline-block
	height 200px
	margin-bottom 15px 
	margin-right 10px  
	padding-left 5px 
	padding-right 5px 
	padding-top 5px 
	position relative
	width 315px 
	&:hover 
		-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
		

.blog-a 
	text-decoration none 

.blog-img
	height 100px
	margin 0 auto 
	position relative
	width 315px
.blog-title
	color col_header
	margin-top 10px 

.blogs-ajax
	display none 

.blog-author 
	position absolute  
	bottom 8px
	right 8px
	font-style italic
	color #6E6E6E
.blog-line 
	position absolute 
	left 0 
	right 0 
	margin-left auto 
	margin-right auto  
	width 97% 
	height 1px 
	background #D8D8D8
	bottom 35px 
.blog-date 
	position absolute
	bottom 8px 
	font-style italic
	color #6E6E6E
.blog-title-entry
	color white 
	position absolute
	left 0 
	right 0
	margin-left auto 
	margin-right auto
	text-align center
	top 35% 

.img-blog
	position relative 
	width 100%
	height 250px 
	background col_header
	padding 1em 
	box-sizing border-box 
	background: rgba(46,46,46,1);
	background: -moz-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(8,38,68,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,46,46,1)), color-stop(100%, rgba(8,38,68,1)));
	background: -webkit-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(8,38,68,1) 100%);
	background: -o-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(8,38,68,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(8,38,68,1) 100%);
	background: linear-gradient(to bottom, rgba(46,46,46,1) 0%, rgba(8,38,68,1) 100%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#082644', GradientType=0 );
	
.info-author
	width 100%
	height 110px 
	//background blue 
	position relative  
	margin-top 15px  
	padding 1em 
	box-sizing border-box
	padding-left 0
	

.blog-img-author
	width 80px
	border-radius 50%
	
.blog-info-author-name-tw
	top 40px
	//background red 
	position absolute 
	left 95px 

.blog-date-entry
	position absolute
	right 0px
	color color_font
	font-style italic
	

.blog-info-author-name-tw a 
	color color_font
	text-decoration none
	&:hover 
		color #00aced
		transition-duration 0.2s
.blog-content
	text-align justify
	line-height: 180%
/*Termina blog*/
	

	

		

@media (max-width 1100px)

	.blog-title-entry
		top 25%

	header
		box-shadow none 
		height 60px 
		position fixed 
	.container-header 
		display none 
		width 100% 
	.complat-logo
		display none 
	.nav-desktop
		display none 
		
	.nav-movil
		background col_header 
		display none 
		height 250px   
		overflow-y scroll 
		position relative
		top 60px 
		width 100% 
		

	.nav-movil ul 
		list-style none 
		margin 0
		padding 0
	.nav-movil ul li 
		border-bottom 1px solid #6E6E6E
		height 30px 
		margin-bottom 5px 
		padding-top 15px 
		pading 5px 5px 5px 5px
		text-align center 
		width 100%  
		 
	.nav-movil ul li a
		color white 
		text-decoration none 
		
		
		

	.icon-menu
		color #FFF
		cursor pointer  
		display block 
		position absolute 
		right 5px 
		top 10px 
		width 50px 
		
	.icon-menu:before 
		color white 
		content "\f0c9"
		font-family "FontAwesome"
		font-size 28px 
		

	#btn-menu 
		display none
		
	.titulo-complat
		color #FFF
		display block 
		font-size 20px 
		font-size 26px 
		left 50px 
		margin-left auto 
		margin-right auto 
		position absolute
		right 50px 
		text-align center 
		top 5px 
	
	.container
		margin-top 80px 
		width 95% 
		
		
	.course-img-main
		width 100%
	
	.lostpass-box
		height 100%  
		top 0
		width 100%
		
	.registro-box
		height 500px  
		overflow-y scroll 
		top 0
		width 100% 
		
	.login-box 
		height 450px
		overflow-y scroll 
		width 100% 
		
	.cointainer-blog
		width 100% 
	.search-blog
		width 100%
	.blog 
		display block 
		margin 0 auto 
		margin-top 30px 
		width 95%
		
	.blog-img 
		width 100% 
		
	.cointainer-blog  .search-blog ul 
		margin-left -45px 
		width 100% 
	
	.cointainer-blog  .search-blog ul li
		display block 
		width 100%	
		
	.cointainer-blog  .search-blog ul li input
		width 100% 
	
		
	//Courses page 
		
	.cointainer-courses
		width 100% 
	.search-courses
		width 100%
		
	.cointainer-courses .search-courses ul 
		margin-left -45px 
		width 100% 
	
	.cointainer-courses .search-courses ul li
		display block 
		width 100%	
	.cointainer-courses .search-courses ul li input
		width 100% 
	.icon-search 
		position absolute 
		right 15px
		top 35px 
		
	.course 
		display block 
		margin 0 auto 
		margin-top 30px 
		width 95%
	.course-img 
		width 100%  
		
	.video-course iframe
		height 100%
		width 100%
		
	.enroll-user-success,.enroll-user-info,.enroll-user-fail
		width 100% 
	
	.box-warning-unsuscribe
		width 100% 
		
	.footer-blocks
		background col_header
		height auto 
		padding 0
		width 100% 

	.block-info
		display block
		margin-left 0  
		padding 10px 
		position relative
		width 80%   
	.block-contact
		display block
		left 0 
		margin-left 0 
		padding 10px 
		position relative
		width 60% 
	.block-social
		display block 
		left 0 
		padding 10px 
		position relative
		width 80% 
	
		
		

		
		

